:root {
  --odin-gold: rgb(206, 151, 62);
  --odin-brass: rgb(204, 149, 67);
  --odin-grey: rgba(74, 74, 74, 0.7);
}

@font-face {
  font-family: "Norse";
  src: url("../font/norse/Norse.otf");
}
@font-face {
  font-family: "Norse";
  src: url("../font/norse/Norsebold.otf");
  font-weight: bold;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #212529;
}

h1 {
  font-size: 2.25rem;
  color: var(--odin-gold);
  font-weight: 300;
  margin: auto;
  max-width: 80%;
}

h2 {
  font-size: 1.5rem;
  color: #4a4a4a;
}

h4 {
  font-size: 1.125rem;
  color: #4a4a4a;
}

p {
  color: var(--odin-grey);
  font-size: 1.125rem;
  line-height: 1.88;
}

.bold {
  font-weight: bold;
}

.centered {
  text-align: center;
}

.btn {
  border-radius: 0.2em;
  color: white;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2px;
  padding: 1rem 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 0.05em 0.25em 0px;
}

.btn.blue {
  background: #6abfc3;
}

.gradient {
  background-image: linear-gradient(white, #eeeeee);
}

.container {
  margin: auto;
  width: 100%;
}

/* header */
header {
  padding-bottom: 3.75rem;
}

.nav {
  display: flex;
  flex-direction: row;
  position: fixed;
  margin-bottom: 50px;
  height: 100px;
  background: white;
  justify-content: space-between;
}

.nav-item {
  font-size: 1em;
  font-weight: bold;
  color: var(--odin-grey);
  display: flex;
  flex-wrap: nowrap;
  flex: 1;
  white-space: nowrap;
  padding: 0 0.5rem;
}

.logo {
  font-family: "Norse";
  font-weight: bold;
  font-size: 1.6em;
  align-items: center;
  white-space: nowrap;
  color: var(--odin-brass);
}
.logo img {
  height: 60px;
}

.nav-space {
  height: 100px;
}

.hero {
  text-align: center;
}
.hero .main-heading {
  padding-bottom: 1.875rem;
}
.hero .sub-heading {
  padding-bottom: 4.375rem;
}

/* curriculum details */
.how-it-works {
  padding-top: 60px;
}
.how-it-works h2 {
  margin-bottom: 36px;
}
.how-it-works .intro {
  margin-bottom: 3em;
}

.how-tiles .how-tile {
  padding: 1em;
}
.how-tiles img {
  height: 80px;
}
.how-tiles h4 {
  margin-top: 50px;
  margin-bottom: 20px;
}
.how-tiles .how-tiles {
  margin-bottom: 70px;
}

.curriculum-details {
  padding: 60px 0;
  background-color: whitesmoke;
}
.curriculum-details .get-started {
  margin-top: 40px;
}
.curriculum-details .get-started .btn {
  background-color: var(--odin-brass);
}

.curriculum-details-tile {
  width: 270px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px;
  background: white;
}
.curriculum-details-tile img {
  width: 80px;
}
.curriculum-details-tile h4 {
  margin-top: 10px;
}

/* success stories */
.success-stories {
  max-width: 1280px;
}
.success-stories h2 {
  padding-top: 50px;
}
.success-stories .read-more {
  padding-top: 30px;
  color: rgba(74, 74, 74, 0.7);
  text-decoration: underline;
  text-align: center;
}
.success-stories .signup {
  padding: 5em 2.5em;
  text-align: center;
}
.success-stories .signup p {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 100;
}
.success-stories .success-stories-container {
  margin-top: 100px;
}

.success-story {
  display: flex;
  text-align: left;
  padding-bottom: 36px;
  max-width: 600px;
}
.success-story .photo {
  flex-basis: 100px;
  padding-top: 16px;
  display: flex;
  justify-content: center;
}
.success-story .content {
  flex: 1 1 0%;
}
.success-story .name {
  color: var(--odin-gold);
}
.success-story img {
  width: 50px;
  align-self: flex-start;
  border-radius: 25px;
}

footer {
  min-height: 70px;
  font-size: 1em;
}
footer .links > * {
  height: 90px;
  font-weight: bold;
  color: var(--odin-grey);
}

@media (min-width: 481px) and (max-width: 768px) {
  .how-tiles img {
    height: 120px;
  }

  footer {
    min-height: 140px;
  }
}
@media (min-width: 768px) {
  .nav {
    position: relative;
    justify-content: center;
  }

  .nav-space {
    display: none;
  }

  .how-tiles img {
    height: 160px;
  }

  .container {
    max-width: 720px;
  }

  footer {
    min-height: 277px;
  }
}
@media (min-width: 1024px) {
  .success-story {
    max-width: none;
    flex-basis: 49%;
  }
}
@media (min-width: 580px) {
  .container {
    max-width: 540px;
  }

  .curriculum-details-grid {
    flex-direction: row;
    justify-content: center;
  }

  .curriculum-details-tile {
    margin: 0 30px 30px 0;
    padding: 23px 46px 25px;
    height: 256px;
    max-width: 254px;
  }
  .curriculum-details-tile img {
    width: 160px;
  }

  .curriculum-details-tile:nth-child(2n) {
    margin: 0 0 30px 0;
  }
}
@media (min-width: 990px) {
  .container {
    max-width: 960px;
  }

  .curriculum-details-tile:nth-child(2n) {
    margin: 0 30px 30px 0;
  }

  .curriculum-details-tile:nth-child(3n) {
    margin: 0 0 30px 0;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/*# sourceMappingURL=styles.css.map */
