.row {
    border: 1px solid greenyellow;
}

.row > * {
    border: 1px dotted red;
}

header .nav {
    height: 100px;
}

.hero, .centered {
    text-align: center;
}


/* curriculum details */
.curriculum-details-tile {
    width: 270px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curriculum-details-tile img {
    width: 80px;
}


/* success stories */
.success-story img {
    width: 50px;
}

.success-story {
    display: flex;
    text-align: left;
}